<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="icon" type="image/x-icon" href="/images/rock.png">
    <title>Patrick Foster</title>
</head>

<body>
    <div class="top" style="position: relative;">
        <div class="h1s">
            <ul class='headingText'>
                <li style="--clr:#ffdd1c">
                    <a href="#" data-text="&nbsp;I'm">&nbsp;I'm</a>
                </li>
                <li style="--clr:#40BB94">
                    <a href="#" data-text="&nbsp;Patrick">&nbspPatrick</a>
                </li>
                <li style="--clr:#4567DB">
                    <a href="#" data-text="&nbsp;Foster">&nbsp;Foster</a>
            </ul>
        </div>
        <img src="/images/full2.jpeg" alt="pciture of Patrick" id="fullBody">
        <div class="custom-shape-divider-bottom-1645906219">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>


    <div class="busSect">
        <h2>The Startup Enthusiast 👔</h2>
        <hr id='hr1'>
        <div class="ts section">
            <img src="/images/techstars-logo-vector.png" alt="ts" id="tsLogo">
            <div class="tsInside holderDiv">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis minus impedit molestiae natus,
                    itaque delectus sint consectetur amet vitae blanditiis id eveniet iure distinctio libero eaque
                    facilis in, fugit praesentium?</p>
                <img src="/images/fullTS.JPG" alt="ts" id="bigTs">
            </div>
        </div>
        <div class="speechify section">
            <h3 id="speechH3">Speechify</h3>
            <div class="tsInside holderDiv">
                <img src="/images/speechify.png" alt="ts" id="speechifyImg">
                <p id="speechifyText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis minus impedit
                    molestiae natus,
                    itaque delectus sint consectetur amet vitae blanditiis id eveniet iure distinctio libero eaque
                    facilis in, fugit praesentium?</p>
            </div>
        </div>
    </div>


    <div class="codeSect" style="position: relative;">
        <div class="custom-shape-divider-top-1645907307">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z"
                    class="shape-fill"></path>
            </svg>
        </div>
        <div class="codeSectInside">
            <div id="codeTop">
                <h2 id="codeh2">The Programmer 💻</h2>
                <hr id='hr2'>
            </div>
            <h4> NodeJS - HTML - CSS - JavaScript - Python</h4>
        </div>

        <div id="codingChunks">
            <div class="codingChunk">
                <img src="/images/jp.jpeg" alt="" class="codingImage">
                <p class='codingParagraph'>
                    <span class='bold'>Upcoming. JPMorgan Software Developer Intern: </span>Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Inventore tempore,
                    accusantium eveniet sit aperiam deserunt dicta nihil iure omnis! A aut molestiae nostrum
                    incidunt
                    repudiandae asperiores cum laboriosam rem autem.
                </p>
            </div>

            <div class="codingChunk">

                <img src="/images/vidify.png" alt="" class="codingImage">
                <p class='codingParagraph'><span class='bold'>Vidify: </span>Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Inventore tempore,
                    accusantium eveniet sit aperiam deserunt dicta nihil iure omnis! A aut molestiae nostrum
                    incidunt
                    repudiandae asperiores cum laboriosam rem autem. <a
                        href="https://github.com/paaatrrrick/Vidify">Github</a></p>

            </div>

            <div class="codingChunk">

                <video class='codingImage' controls>
                    <source src="/images/swipe.mov" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p class='codingParagraph'><span class='bold'>Swipe Remote: </span>Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Inventore tempore,
                    accusantium eveniet sit aperiam deserunt dicta nihil iure omnis! A aut molestiae nostrum
                    incidunt
                    repudiandae asperiores cum laboriosam rem autem.</p>
            </div>

        </div>
        <div class="custom-shape-divider-bottom-1645907450">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>


    <div class="teenager" style="position: relative;">
        <div class='teenageTopStuff'>
            <h2>The Angsty Teenager 🤠</h2>
            <hr id='hr1'>
        </div>
        <div id="teenageContent">
            <img src="/images/iowa.png" alt="" id='iowaImage'>
            <ul>
                <li>University of Iowa Student 🏫</li>
                <li>Studying Comp Sci and Business</li>
                <li>Big Kanye Fan 🎤</li>
                <li>Will be Living in a Van by 8/23/2023 🚐</li>
                <li>Christian - Salt Company ⛪️</li>
                <li>Used to Run a Bit 🏃‍♂️</li>
                <li>Eagle Scout 🦅</li>
                <li>5th Grade Chess Champion ♟</li>
            </ul>
        </div>
        <div class="custom-shape-divider-bottom-1645906604">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>




    <div class="bott">
        <div class="goodbye">
            <div id='waveDiv'>
                <h1 class="toph1">Bye!</h1>
                <img src="https://twemoji.maxcdn.com/2/72x72/1f44b.png" alt="" class='wave'>
            </div>
            <img src="/images/face.JPG" alt="goodbye photo" id="byeImg">
        </div>
        <div class="container">
            <div class="label">
                <h5>Contact:</h5>
            </div>
            <div class="copy-text">
                <input type="text" class="text" value='patrick.123.foster@gmail.com' readonly>
                <button>
                    <img src="/images/copy.png" alt="vlaid" id='copyImage'>
                </button>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        let copyText = document.querySelector(".copy-text");
        copyText.querySelector("button").addEventListener("click", function () {
            let input = copyText.querySelector("input.text");
            input.select();
            document.execCommand("copy");
            copyText.classList.add("active");
            window.getSelection().removeAllRanges();
            setTimeout(function () {
                copyText.classList.remove("active");
            }, 2500);
        });
    </script>


    <script type="text/javascript" src="script/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1
        });
    </script>
</body>

</html>