.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
}

.navbarleft>p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}

.navbarright>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contnet {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 75px;
}

.blogH1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 20px;
}

.blog-link {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #212529;
    text-decoration: none;
    margin-bottom: 20px;
    min-width: 50%;
    margin-left: 20px;
}

.blog-link:hover {
    color: #007bff;
}


.view-blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.view-blog-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 75px;
}

.view-blog-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #212529;
    margin-bottom: 20px;
}